<nav class="navigation" aria-label="Navegação principal">
  <span class="navigation-title">Menu de navegação</span>
  <div class="navigation-links">
    <a routerLink="/" fragment="autenticacao">Login</a>
    <a routerLink="/" fragment="projetos" routerLinkActive="active">Projetos</a>
    <a routerLink="/" fragment="imagem">Imagem</a>
    <a routerLink="/" fragment="sobre" routerLinkActive="active">Sobre</a>
    <a routerLink="/" fragment="habilidades" routerLinkActive="active">Habilidades</a>
    <a routerLink="/contato" routerLinkActive="active">Contato</a>
  </div>
</nav>
